@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MUM Scrum</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MUM Scrum</h2>
        <p>
            MUM Scrum is the greatest Scrum tool in the entire world created using the Microsoft ASP.Net MVC and Entity Framework.
        </p>
    </div>
    <div class="col-md-4">
        <h2>.Net Project Team</h2>
        <p>Kashif Shabih ----- Sherif Ahmed</p>
        
    </div>
    <div class="col-md-4">
        <h2>Software Engineering</h2>
        <p>Presented to Professor Steve Nolle.</p>
    </div>
</div>